html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  font-size: 0;
}

select,
input {
  outline: none;
  border: none;
}

@font-face {
  font-family: 'Open-Sans';
  src: local('OpenSans-Regular'),
    url(../fonts/OpenSans-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open-Sans';
  src: local('OpenSans-SemiBold'),
    url(../fonts/OpenSans-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open-Sans';
  src: local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Open-Sans', sans-serif;
  font-size: 1.4rem;
  background-color: var(--color-bg);
}

:root {
  --color-bg: #f5f5f5;
  --color-white: #ffffff;
  --color-primary: #9873ff;
  --color-grey: #b0b0b0;
  --color-grey-light: #c8c5d1;
  --color-red: #f06a4d;
}

.text-reset {
  margin: 0;
  padding: 0;
}

.title--delete {
  text-align: center;
}

.modal__text {
  display: inline-block;
  align-self: center;
  text-align: center;
  width: 250px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-delete {
  position: absolute;
  visibility: hidden;
}

.container {
  max-width: 1406px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-reset {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* header */

.header {
  background-color: var(--color-white);
  box-shadow: 0px 3.386px 5.644px 0px rgba(176, 190, 197, 0.32),
    0px 9.03px 27.09px 0px rgba(176, 190, 197, 0.32);
}

.header-wrapper {
  padding: 20px 0;
  display: flex;
  gap: 0 53px;
  align-items: center;
}

.logo {
  display: inline-block;
  flex-shrink: 0;
}

.search__input {
  padding: 16px 12px;
  width: 581px;
  height: 44px;
  outline: none;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.search__input::placeholder {
  color: var(--color-grey);
}

/* clients */

.clients {
  padding: 40px 0;
}

.clients__container {
  padding: 0 110px;
}

.clients__title {
  margin-bottom: 24px;
  font-size: 2.4rem;
  font-weight: 700;
}

/* table */

.clients__table-wrapper {
  margin-bottom: 40px;
}

.clients__btn-wrapper {
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.column-1 {
  width: 82px;
  cursor: pointer;
}

.column-2 {
  width: 369px;
  cursor: pointer;
}

.column-3 {
  width: 175px;
  cursor: pointer;
}

.column-4 {
  width: 173px;
  cursor: pointer;
}

.column-5 {
  width: 160px;
}

.column-6 {
  width: 227px;
}

.table-body {
  position: relative;
  max-height: 300px;
}

.table-body__table {
  background-color: var(--color-white);
}

.table__spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: transparent;
}

.spinner-ico {
  width: 86px;
  height: 86px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.table-body__table {
  background-color: var(--color-white);
}

.heading-title {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-grey);
}

.table__text {
  padding-left: 20px;
}

.body-text {
  padding-top: 11px;
  padding-bottom: 11px;
}

.row--body {
  height: 60px;
  border-bottom: 1px solid var(--color-grey-light);
}

.contacts-list {
  width: 108px;
  display: flex;
  align-items: center;
  gap: 0 7px;
  flex-wrap: wrap;
  justify-content: start;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  color: #fff;
  text-transform: none;
  z-index: 1;
  background-color: #333;
  min-width: 133px;
  padding: 7px 14px;
  font-size: 12px;
  font-weight: 700;
  display: none;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0 9px;
  padding: 12px 26px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 600;
}

.heading-title--id {
  color: var(--color-primary);
}

.arrow-up__icon {
  transform: rotate(0);
}

.arrow-down__icon {
  width: 8px;
  height: 8px;
  transform: rotate(180deg);
}

.heading-title__alph {
  color: var(--color-primary);
  font-weight: 600;
}

.body-text--id {
  font-size: 1.2rem;
  color: var(--color-grey);
}

.body-text--time {
  color: var(--color-grey);
}

.table__btn {
  padding-left: 17px;
}

.btn--edit {
  margin-right: 30px;
  background: url(../images/edit.svg) center left / 16px 16px no-repeat;
}

.btn--delete {
  background: url(../images/delete.svg) center left / 16px 16px no-repeat;
}

/* MODAL FORM */

.modal {
  position: fixed;
  padding: 30px 0;
  top: 50%;
  left: 50%;
  width: 450px;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.clients__id {
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey);
  font-weight: 400;
}

.btn--close-modal {
  position: absolute;
  content: ' ';
  display: inline-block;
  height: 29px;
  width: 29px;
  top: 15px;
  right: 15px;
}

.btn--close-modal::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: var(--color-grey-light);
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn--close-modal::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: var(--color-grey-light);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.form__full-name {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px 0;
  margin-bottom: 25px;
  padding: 0 30px;
}

.form__input {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--color-grey-light);
}

.form__contacts {
  max-height: 530px;
  position: relative;
  justify-content: center;
  padding: 25px 30px 0 30px;
  opacity: 0;
  background-color: rgba(200, 197, 209, 0.2);
  transition: opacity 0.2s ease-in-out;
}

.contact-icon {
  fill: var(--color-primary);
  width: 16px;
  height: 16px;
}

.form__contacts--add {
  opacity: 1;
}

.form__contacts-btn {
  display: flex;
  justify-content: center;
  background-color: rgba(200, 197, 209, 0.2);
  padding: 8px 30px;
  transition: padding 0.2s ease-in-out;
  margin-bottom: 25px;
}

.form__contacts-btn--expand {
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn--add {
  padding-left: 18px;
  background: url(../images/add-contact.svg) center left / 16px 16px no-repeat;
  font-size: 14px;
  font-weight: 600;
}

.btn--save {
  align-self: center;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.contacts__select {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
  align-items: center;
  width: 100%;
}

.select__input {
  display: flex;
  width: 100%;
  max-height: 37px;
  border: 1px solid var(--color-grey-light);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  margin-top: 15px;
}

.select__input:first-child {
  margin-top: 0;
}

.select__input--add {
  opacity: 1;
}

.input__list {
  position: relative;
  padding: 10px 12px;
  width: 123px;
  appearance: none;
  border-right: 1px solid var(--color-grey-light);
  background: url(../images/arrow-down.svg) center right 5px /12px 12px no-repeat,
    #e7e5eb;
  font-size: 1.2rem;
}

.input__value {
  flex-grow: 1;
  padding-left: 15px;
  background-color: rgba(252, 251, 253, 0.2);
  font-weight: 600;
}

.input__value::placeholder {
  font-weight: 400;
}

.input__btn {
  width: 27px;
  padding: 11px 6px;
  border-left: 1px solid var(--color-grey-light);
  background-color: #e7e5eb;
}

/* overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hide-element {
  display: none;
}

.add-client {
  width: 23px;
  height: 16px;
}
